<app-user-navbar></app-user-navbar>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let warframe of data.warframes">
    <div class="row">
      <div class="col-md-4">
        <img [src]="'https://cdn.warframestat.us/img/' + warframe.imageName"/>
        {{ warframe.name }}
      </div>
      <div class="col-md-8">
        <select [class]="'form-control option' + warframe.obtained" [(ngModel)]="warframe.obtained" (change)="saveChanges()">
          <option value="0">NUEVO</option>
          <option value="1">No me interesa</option>
          <option value="2">En búsqueda</option>
          <option value="3">En fundición</option>
          <option value="4">Leveando</option>
          <option value="5">Vendido</option>
          <option value="6">Leveado</option>
          <option value="7">Maxeado</option>
        </select>
      </div>
    </div>
  </li>
</ul>